<!-- app.component.html -->
<nav class="navbar">
  <div class="navbar-left">
  <a routerLink="/" class="logo-link">Mi Ropero</a>
</div>

  <div class="navbar-right">
    <a routerLink="/prendas">Listado de Prendas</a>
    <a routerLink="/crear-prenda">Crear Prenda</a>
    <a routerLink="/outfits">Listado de Outfits</a>
    <a routerLink="/crear-outfit">Crear Outfit</a>
    <a routerLink="/carpetas">Listado de Carpetas</a>
    <a routerLink="/crear-carpeta">Crear Carpeta</a>
  </div>
</nav>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
